<!-- Наследование -->
{% extends 'base.html' %}
{% block content %}
    <div class="card-body_1">
        <a class="btn btn-dark btn-sm mb-3" href="{% url 'index' %}">Вернуться к вопросам</a>
    </div>
    <h1 class="text-center mb-3">{{ question.question_text }}</h1>

    {% if error_message %}
        <p class="alert alert-danger">
            <strong class="error">{{ error_message }}</strong>
        </p>
    {% endif %}

    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input type="radio" name="choice" class="form-check-input" id="choice{{ forloop.counter }}"
                       value="{{ choice.id }}"/>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
        {% endfor %}
        <div class="card-body_1">
            <input type="submit" value='Ответить' class="btn btn-secondary btn-sm btn-block mt-4"/>
        </div>
    </form>
{% endblock %}